<!--<div class="error position-absolute top-50 start-0 end-0" *ngIf="data.length>0">-->
<!--<div class="error" *ngIf="data.length>0">
    <div class="row alert alert-danger" role="alert">
        <div class="col-12">
            <h3 class="alert-heading">
                Errors
                <strong class="btn-right pe-auto" style="cursor:pointer !important" title="Close"
                    (click)="close()">x</strong>
            </h3>
        </div>
        <div class="col-12">
            <ul>
                <li *ngFor="let error of data">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="cols-4">
        <h1 mat-dialog-title class="text-danger">
            Errors
            <strong class="btn-right pe-auto" style="cursor:pointer !important" title="Close"
                (click)="close()">x</strong>
        </h1>
        <div mat-dialog-content class="text-danger">
            <ul>
                <li *ngFor="let error of data">
                    {{error}}
                </li>
            </ul>
        </div>
        <div mat-dialog-actions class="btn-right">
            <button mat-button mat-dialog-close class="btn btn-small btn-danger"
                (click)="close()">Close</button>
        </div>
    </div>
</div>