<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital Name<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital Registration Number
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital Registration Date
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital WebSite
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital PAN
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="txtHsptName" class="form-label">
                Hospital GST
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="txtAccreditation" class="form-label">
                Accreditation <i>(For e.g NABH/NABL/JCI/ISO/Others) (For Hospital/Blood Bank/
                        Laboratory)</i>
            </label>
            <textarea class="form-control" id="txtAccreditation" rows="3"></textarea>
        </div>
    </div>
</div>