<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="txtHsptName">
                Hospital Name<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="txtHsptName">
                Hospital Registration Number
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="txtHsptName">
                Hospital Registration Date
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="txtHsptName">
                Hospital WebSite
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtHsptName" />
        </div>
    </div>
</div>