<div class="row">
    <div class="col-2">
        <div class="mb-3">
            <label for="txtDoctorsCount" class="form-label">
                Doctor Counts
            </label>
            <input type="text" class="form-control" id="txtDoctorsCount"
                [(ngModel)]="hsptMiscellaneousModel.doctorsCount" />
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="txtMedicalConsltantCount" class="form-label">
                Medical Consultants Counts
            </label>
            <input type="text" class="form-control" id="txtMedicalConsltantCount"
                [(ngModel)]="hsptMiscellaneousModel.medicalConsultantCount" />
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="txtBedCount" class="form-label">
                Bed's Count
            </label>
            <input type="text" class="form-control" id="txtBedCount" [(ngModel)]="hsptMiscellaneousModel.bedCount" />
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="txtPrivateWardCount" class="form-label">
                Private Wards Count
            </label>
            <input type="text" class="form-control" id="txtPrivateWardCount"
                [(ngModel)]="hsptMiscellaneousModel.privateWardCount" />
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="txtEwsBedCount" class="form-label">
                Beds for EWS Count
            </label>
            <input type="text" class="form-control" id="txtEwsBedCount"
                [(ngModel)]="hsptMiscellaneousModel.ewsBedCount" />
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="txtCollaboration" class="form-label">
                Empanelment/Collaboration With
            </label>
            <input type="text" class="form-control" id="txtCollaboration"
                [(ngModel)]="hsptMiscellaneousModel.collaboration" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chkEmergencyServices"
                [(ngModel)]="hsptMiscellaneousModel.emergencyService" />
            <label class="form-check-label" for="chkEmergencyServices">Emergency Services</label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chkAnimalBiteCare"
                [(ngModel)]="hsptMiscellaneousModel.animalBiteCare" />
            <label class="form-check-label" for="chkAnimalBiteCare">Animal Bite Care</label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chkPoisoningCentreCure"
                [(ngModel)]="hsptMiscellaneousModel.poisoningCentreCure" />
            <label class="form-check-label" for="chkPoisoningCentreCure">Poisoning Centre Cure</label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chkRabiesPreventionAndCareDrug"
                [(ngModel)]="hsptMiscellaneousModel.rabiesPreventionAndCareDrug" />
            <label class="form-check-label" for="chkRabiesPreventionAndCareDrug">Rabies Prevention and CareDrug </label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chkDeAddiction"
                [(ngModel)]="hsptMiscellaneousModel.deAddiction" />
            <label class="form-check-label" for="chkDeAddiction">De-Addiction</label>
        </div>
    </div>
</div>