<div class="row">
    <div class="col-12">
        <div class="specialties-checkbox">
            <input type="checkbox" name="specialtiesotherwith" value="Anaesthesiology">Anaesthesiology
            <input type="checkbox" name="specialtiesotherwith" value="Anatomy">Anatomy
            <input type="checkbox" name="specialtiesotherwith" value="Bariatric Surgery">Bariatric Surgery
            <input type="checkbox" name="specialtiesotherwith" value="Biochemistry">Biochemistry
            <input type="checkbox" name="specialtiesotherwith" value="Biomedical Engineering">Biomedical
                Engineering
            <input type="checkbox" name="specialtiesotherwith" value="Biophysics">Biophysics
            <input type="checkbox" name="specialtiesotherwith" value="Biostatistics">Biostatistics
            <input type="checkbox" name="specialtiesotherwith" value="Biotechnology">Biotechnology
            <input type="checkbox" name="specialtiesotherwith" value="Burn Department">Burn Department
            <input type="checkbox" name="specialtiesotherwith" value="Cardiology">Cardiology
            <input type="checkbox" name="specialtiesotherwith" value="Cardio Thoracic Vascular Surgery">Cardio
                Thoracic Vascular Surgery
            <input type="checkbox" name="specialtiesotherwith" value="Centre for Community Medicine">Centre for
                Community Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Cosmetic Surgery">Cosmetic Surgery
            <input type="checkbox" name="specialtiesotherwith" value="Dermatology and Venereology">Dermatology and
                Venereology
            <input type="checkbox" name="specialtiesotherwith" value="Dietetics">Dietetics
            <input type="checkbox" name="specialtiesotherwith" value="Dental">Dental
            <input type="checkbox" name="specialtiesotherwith"
                    value="Endocrinology, Metabolism and Diabetes">Endocrinology, Metabolism and Diabetes
            <input type="checkbox" name="specialtiesotherwith" value="Forensic Medicine and Toxicology">Forensic
                Medicine and Toxicology
            <input type="checkbox" name="specialtiesotherwith"
                    value="Gastroenterology and Human Nutrition">Gastroenterology and Human Nutrition
            <input type="checkbox" name="specialtiesotherwith" value="Gastrointestinal Surgery">Gastrointestinal
                Surgery
            <input type="checkbox" name="specialtiesotherwith" value="General Surgery">General Surgery
            <input type="checkbox" name="specialtiesotherwith" value="Hematology">Hematology
            <input type="checkbox" name="specialtiesotherwith" value="Internal Medicine">Internal Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Kidney Transplant">Kidney Transplant
            <input type="checkbox" name="specialtiesotherwith" value="Laboratory Medicine">Laboratory
                Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Liver Transplant">Liver Transplant
            <input type="checkbox" name="specialtiesotherwith" value="Laparoscopic Surgery">Laparoscopic
                Surgery
            <input type="checkbox" name="specialtiesotherwith" value="Medicine">Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Microbiology">Microbiology
            <input type="checkbox" name="specialtiesotherwith" value="Nephrology">Nephrology
            <input type="checkbox" name="specialtiesotherwith" value="Nuclear Medicine">Nuclear Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Neurology">Neurology
            <input type="checkbox" name="specialtiesotherwith" value="Neuron Surger">Neuron Surger
            <input type="checkbox" name="specialtiesotherwith" value="Nuclear Magnetic Resonance Imaging">Nuclear
                Magnetic Resonance Imaging
            <input type="checkbox" name="specialtiesotherwith" value="Obstetrics and Gynaecology">Obstetrics and
                Gynaecology
            <input type="checkbox" name="specialtiesotherwith" value="In Vitro Fertilization (IVF)">In Vitro
                Fertilization (IVF)
            <input type="checkbox" name="specialtiesotherwith"
                    value="Oncology/ Oncosurgery (Cancer Care)">Oncology/ Oncosurgery (Cancer Care)
            <input type="checkbox" name="specialtiesotherwith" value="Orthopedics">Orthopedics
            <input type="checkbox" name="specialtiesotherwith" value="Ophthalmology (Eye Care)">Ophthalmology (Eye
                Care)
            <input type="checkbox" name="specialtiesotherwith"
                    value="Otorhinolaryngology (Ear Nose and Throat)">Otorhinolaryngology (Ear Nose and Throat)
            <input type="checkbox" name="specialtiesotherwith" value="Pediatrics">Pediatrics
            <input type="checkbox" name="specialtiesotherwith" value="Pediatric Surgery">Pediatric Surgery
            <input type="checkbox" name="specialtiesotherwith"
                    value="Pulmonology/ Respiratory Medicine">Pulmonology/ Respiratory Medicine
            <input type="checkbox" name="specialtiesotherwith" value="Trauma and Emergency Medicine">Trauma and
                Emergency Medicine
            <input type="checkbox" name="specialtiesotherwith"
                    value="Plastic Surgery (Reconstructive Surgery)">Plastic Surgery (Reconstructive Surgery)
            <input type="checkbox" name="specialtiesotherwith" value="Pharmacology">Pharmacology
            <input type="checkbox" name="specialtiesotherwith" value="Physiology">Physiology
            <input type="checkbox" name="specialtiesotherwith"
                    value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation
            <input type="checkbox" name="specialtiesotherwith" value="Psychiatry">Psychiatry
            <input type="checkbox" name="specialtiesotherwith" value="Reproductive Biology">Reproductive
                Biology
            <input type="checkbox" name="specialtiesotherwith" value="Surgical Disciplines">Surgical
                Disciplines
            <input type="checkbox" name="specialtiesotherwith" value="Transplant Surgery">Transplant
                Surgery
            <input type="checkbox" name="specialtiesotherwith"
                    value="Transfusion Medicine (Blood Bank)">Transfusion Medicine (Blood Bank)
            <input type="checkbox" name="specialtiesotherwith" value="Urology">Urology
            <input type="checkbox" name="specialtiesotherwith" value="Vascular Surgery">Vascular Surgery
            
                <input type="checkbox" name="specialtiesother" id="specialtiesother" value="any-other"
                    onclick="otherfunction('specialtiesid', this, 'specialtiesotherwith');">
                <div class="any_other"> Any Other +</div>
            

            <div id="specialtiesid">

            </div>

        </div>
    </div>
</div>