<div class="row">
    <div class="col-3" *ngFor="let price of priceList">
        <div class="card mt-2 ms-2 shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="../assets/img/price-tag.png" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{price.name}}</h5>
                <p class="card-text">This model is for {{price.monthDuration}} Months.</p>
                <button type="button" class="btn btn-primary" (click)="priceModel(price.pk)">Continue</button>
                <p><a href="#" class="card-link">More Details</a></p>
            </div>
        </div>
    </div>
</div>