<div class="row h-100 border border-primary">
    <nav class="navbar navbar-light bg-light">
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/dashboard">
                <img src="../../assets/img/monitor.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Dashboard
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/appointment/patientregistration">
                <img src="../../assets/img/deadline.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Appointment
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/ipd">
                <img src="../../assets/img/hospital-bed.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Beds
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" [routerLink]="['/ipd',{outlets:{'workspace':['patientregistration']}}]">
                <img src="../../assets/img/hospitalisation.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                IPD
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" [routerLink]="['/opd',{outlets:{'workspace':['patientregistration']}}]">
                <img src="../../assets/img/examination.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                OPD
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/ipd">
                <img src="../../assets/img/report.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Reports
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/ipd">
                <img src="../../assets/img/lab-tool.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Lab
            </a>
        </div>
        <div class="col-12">
            <a class="navbar-brand" routerLinkActive="activebutton" routerLink="/ipd">
                <img src="../../assets/img/gear.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Setting
            </a>
        </div>
    </nav>
</div>