<div class="row h-100 border border-primary">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
          <!-- use a disabled button to provide padding for tree leaf -->
          <!--<button mat-icon-button disabled></button>-->
          <span><img src="../../assets/img/next.png" /></span>
          <span (click)="navigate(node)">{{node.text}}</span>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
         <!-- <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>-->
          <span mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name">
          <img src="../../assets/img/next.png" class="mat-icon-rtl-mirror"/>
        </span>
          {{node.text}}
        </mat-tree-node>
      </mat-tree>
</div>