<div class="row mt-2">
    <h6 class="text-center">Book Appointment </h6>
    <div class="col-12">
        <form>
            <div class="row">
                <div class="form-group col-3">
                    <label for="txtFirstName">First Name</label>
                    <input type="text" class="form-control" id="txtFirstName" />
                </div>
                <div class="form-group col-3">
                    <label for="txtMiddleName">Middle Name</label>
                    <input type="text" class="form-control" id="txtMiddleName" />
                </div>
                <div class="form-group col-3">
                    <label for="txtLastName">Last Name</label>
                    <input type="text" class="form-control" id="txtLastName" />
                </div>
                <div class="form-group col-3">
                    <label for="txtEmail">Email</label>
                    <input type="email" class="form-control" id="txtEmail" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>