<div class="row bg-primary text-white">
    <div class="col-12 text-center">
        <h3 class="mt-2 mb-2">
            Hospital Registration
        </h3>
    </div>
</div>
<div class="row mt-2" [formGroup]="hsptRegFrm">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital General Deatils</legend>
            <div>
                <app-hsptgeneralinfo [hsptModel]="hospitalModel" formGroupName="generalInfo"></app-hsptgeneralinfo>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Contacts</legend>
            <div>
                <app-hsptcontact [hsptContactModel]="hospitalModel.hsptContact"></app-hsptcontact>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Miscellaneous</legend>
            <div>
               <app-hsptmiscellaneous [hsptMiscellaneousModel]="hospitalModel.hsptMiscellaneous"></app-hsptmiscellaneous>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Provider</legend>
            <div>
                <app-hsptprovider [HsptProvider]="hospitalModel.hsptProviders"></app-hsptprovider>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Feciality</legend>
            <div>
                <app-hsptfacility [HsptFacilities]="hospitalModel.hsptFacilities"></app-hsptfacility>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Speciality</legend>
            <div>
                <app-hsptspeciality [HsptSpecialities]="hospitalModel.hsptSpecialities"></app-hsptspeciality>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Insurance</legend>
            <div>
                <app-hsptinsurance [HsptInsurances]="hospitalModel.hsptInsurances"></app-hsptinsurance>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <fieldset class="border rounded-3 p-3 border-primary">
            <legend class="float-none w-auto px-3">Hospital Ayush</legend>
            <div>
                <app-hsptayush [hsptAyushModel]="hospitalModel.hsptAyush"></app-hsptayush>
            </div>
        </fieldset>
    </div>
</div>
<div class="row mt-2 mb-2">
    <div class="col-12">
        <button type="button" class="btn btn-primary btn-right mr-2 ms-2" (click)="next()">Next</button>
        <button type="button" class="btn btn-primary btn-right" (click)="back()">Back</button>
    </div>
</div>