<div class="row">
    <div class="cols-8">
        <h3 mat-dialog-title>
            Reset Password
            <strong class="btn-right pe-auto float-end" style="cursor:pointer !important" title="Close"
                (click)="close()">x</strong>
        </h3>
        <div mat-dialog-content>
            <form>
                <div class="form-group">
                    <label for="txtLoginId">Email/Login Id</label>
                    <input type="text" class="form-control" id="txtLoginId"/>
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="btn-right">
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-primary" type="button">Reset Link</button>
              </div>
        </div>
    </div>
</div>