<div class="row">
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactPhone" class="form-label">
                Phone<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactPhone" [(ngModel)]="hsptContactModel.Phone" />
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactCell" class="form-label">
                Cell<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactCell" [(ngModel)]="hsptContactModel.Cell" />
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactEmergency" class="form-label">
                Emergency<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactEmergency" [(ngModel)]="hsptContactModel.Emergency" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactAmbulance" class="form-label">
                Ambulance<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactAmbulance" [(ngModel)]="hsptContactModel.AmbulanceNumber" />
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactBloodBank" class="form-label">
                Blood Bank<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactBloodBank" [(ngModel)]="hsptContactModel.BloodBank" />
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="txtContactFpC" class="form-label">
                Foreign Patient Care/ International Patient Wing<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="txtContactFpC" [(ngModel)]="hsptContactModel.FPC" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtContactFax" class="form-label">
                    Fax No.<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="txtContactFax" [(ngModel)]="hsptContactModel.Fax" />
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3 ms-2">
                <label for="txtContactEmail" class="form-label">
                    Email Id<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="txtContactEmail" [(ngModel)]="hsptContactModel.EmailId" />
            </div>
        </div>        
</div>