<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-8 left-section bg-primary">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <img class="w-25" src="../../../assets/img/Blossom_icon.png" />
                    <p>Powered by Pflox</p>
                </div>
            </div>
        </div>
        <div class="col-4" [formGroup]="logonForm">
            <div>
                <label>{{Error}}</label>
            </div>
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-13">
                    <form>
                        <div class="form-group">
                            <label for="txtLoginId">Email/Mobile/Login Id</label>
                            <input type="text" class="form-control" id="txtLoginId"  formControlName="loginId"/>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" formControlName="password"/>
                        </div>
                        <a href="#" class="text-decoration-none mt-2">Trouble in Log in?</a>
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn btn-primary" (click)="onLogon()" type="button">Log in</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>